services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    container_name:  todos-db
    volumes:
      - ./postgres:/var/lib/postgresql/data